# CODEOWNERS — see https://docs.github.com/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners
#
# Last matching rule per file wins.

# Default: quickwit-core owns everything
*                                                        @quickwit-oss/quickwit-core
