# Print all `.bazelrc` option at startup

# We're not ready to turn on bzlmod.
common --enable_bzlmod=false
common --enable_workspace=true

# Ensure we can access our internal artifact repositories
import %workspace%/.adms/adms.bazelrc
--announce_rc

# Show Build timestamps
--show_timestamps

# Enable Temporal as workflow engine for CNAB deployments
build --define cnab_workflow_driver=temporal

# Keep color, reduce frequency of "in progress" log lines
build:ci --show_progress_rate_limit=5 --curses=yes --color=yes

# Show full error context
build:ci --verbose_failures
