# DM_env_START
dotenv .adms/python/python.env

dotenv .adms/npm/npm.env
# DM_env_END

# This should be the final line in the file, allowing users some leeway to customize things for their local environment
source_env_if_exists .envrc.local
