[package]
name = "quickwit-proto"

version.workspace = true
edition.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
anyhow = { workspace = true }
async-trait = { workspace = true }
bytes = { workspace = true }
bytesize = { workspace = true }
bytestring = { workspace = true }
futures = { workspace = true, optional = true }
http = { workspace = true }
mockall = { workspace = true, optional = true }
opentelemetry = { workspace = true }
prost = { workspace = true }
prost-types = { workspace = true }
sea-query = { workspace = true, optional = true }
serde = { workspace = true }
serde_json = { workspace = true }
sqlx = { workspace = true, optional = true }
thiserror = { workspace = true }
tokio = { workspace = true }
tonic = { workspace = true, features = [
    "tls-native-roots",
    "server",
    "channel",
] }
tonic-prost = { workspace = true }
tower = { workspace = true }
tracing = { workspace = true }
tracing-opentelemetry = { workspace = true }
ulid = { workspace = true }
utoipa = { workspace = true }
zstd = { workspace = true }

quickwit-actors = { workspace = true }
quickwit-common = { workspace = true }

[dev-dependencies]
futures = { workspace = true }
mockall = { workspace = true }

[build-dependencies]
glob = "0.3"
prost-build = { workspace = true }
tonic-build = { workspace = true }
tonic-prost-build = { workspace = true }

quickwit-codegen = { workspace = true }

[features]
postgres = ["sea-query", "sqlx"]
testsuite = ["mockall", "futures"]
