[package]
name = "quickwit-aws"
description = "Set up AWS config and clients"

version.workspace = true
edition.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
aws-config = { workspace = true }
aws-runtime = { workspace = true }
aws-sdk-kinesis = { workspace = true, optional = true }
aws-sdk-s3 = { workspace = true }
aws-sdk-sqs = { workspace = true, optional = true }
aws-smithy-async = { workspace = true }
aws-smithy-http-client = { workspace = true }
aws-smithy-runtime = { workspace = true }
aws-types = { workspace = true }

futures = { workspace = true }
http-body-util = { workspace = true }
hyper = { workspace = true }
hyper-rustls = { workspace = true }
tokio = { workspace = true }

quickwit-common = { workspace = true }

[features]
kinesis = ["aws-sdk-kinesis"]
sqs = ["aws-sdk-sqs"]
