[package]
name = "quickwit-config"
description = "Define and manage Quickwit configuration objects"

version.workspace = true
edition.workspace = true
homepage.workspace = true
documentation.workspace = true
repository.workspace = true
authors.workspace = true
license.workspace = true

[dependencies]
anyhow = { workspace = true }
bytes = { workspace = true }
bytesize = { workspace = true }
chrono = { workspace = true }
cron = { workspace = true }
enum-iterator = { workspace = true }
http = { workspace = true }
http-serde = { workspace = true }
humantime = { workspace = true }
itertools = { workspace = true }
json_comments = { workspace = true }
new_string_template = { workspace = true }
once_cell = { workspace = true }
rand = { workspace = true }
regex = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde_with = { workspace = true }
serde_yaml = { workspace = true }
siphasher = { workspace = true }
toml = { workspace = true }
tracing = { workspace = true }
utoipa = { workspace = true }
vrl = { workspace = true, optional = true }

quickwit-common = { workspace = true }
quickwit-doc-mapper = { workspace = true }
quickwit-proto = { workspace = true }

[dev-dependencies]
tokio = { workspace = true }

quickwit-proto = { workspace = true, features = ["testsuite"] }

[features]
testsuite = []
vrl = ["dep:vrl"]
