*.swp
package-lock.json
__pycache__
.pytest_cache
.venv
*.egg-info
build/
.mypy_cache

# CDK asset staging directory
.cdk.staging
cdk.out

# AWS SAM build directory
.aws-sam

# Benchmark output files
*.log
