[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aws-cdk-lib = "2.95.1"
cargo-lambda = "1.1.0"
constructs = "10.3.0"
pyyaml = "6.0.1"
black = "24.3.0"
boto3 = "1.28.59"
mypy = "1.7.0"
ziglang = "0.11.0"

# types
boto3-stubs = "1.28.59"
types-requests = "2.31.0.2"
types-pyyaml = "6.0.12.11"

[requires]
python_version = "3.10"
