name: CBENCH Comment

on:
  workflow_run:
    workflows: ["CBENCH Run"]
    types:
      - completed

# This is required for github.rest.issues.createComment.
permissions:
  issues: write
  pull-requests: write

jobs:
  comment:
    name: Comment on PR
    runs-on: ubuntu-latest
    if: >
      github.event.workflow_run.event == 'pull_request' &&
      github.event.workflow_run.conclusion == 'success'
    steps:
      - name: Download PR results
        uses: dawidd6/action-download-artifact@bf251b5aa9c2f7eeb574a96ee720e24f801b7c11 # v6
        with:
          workflow: cbench-run.yml
          run_id: ${{ github.event.workflow_run.id }}
          name: pr-results

      - name: Read PR number and results
        id: pr-results
        run: |
          PR_NUMBER=$(cat pr-number)
          SSD_COMPARISON=$(cat ssd-comparison.txt)
          GCS_COMPARISON=$(cat gcs-comparison.txt)
          echo "pr-number=$PR_NUMBER" >> $GITHUB_OUTPUT
          echo "ssd-comparison<<EOF" >> $GITHUB_OUTPUT
          echo "$SSD_COMPARISON" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT
          echo "gcs-comparison<<EOF" >> $GITHUB_OUTPUT
          echo "$GCS_COMPARISON" >> $GITHUB_OUTPUT
          echo "EOF" >> $GITHUB_OUTPUT

      - name: Add a PR comment with comparison results
        uses: actions/github-script@ed597411d8f924073f98dfc5c65a23a2325f34cd # v8.0.0
        with:
          script: |
            // Get the existing comments.
            const {data: comments} = await github.rest.issues.listComments({
              owner: context.repo.owner,
              repo: context.repo.repo,
              issue_number: ${{ steps.pr-results.outputs.pr-number }},
            })

            // Find any comment already made by the bot to update it.
            const botComment = comments.find(comment => comment.user.id === 41898282)
            const commentBody = "### On SSD:\n${{ steps.pr-results.outputs.ssd-comparison }}\n### On GCS:\n${{ steps.pr-results.outputs.gcs-comparison }}\n"
            if (botComment) {
              // Update existing comment.
              await github.rest.issues.updateComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                comment_id: botComment.id,
                body: commentBody
              })
            } else {
              // New comment.
              await github.rest.issues.createComment({
                owner: context.repo.owner,
                repo: context.repo.repo,
                issue_number: ${{ steps.pr-results.outputs.pr-number }},
                body: commentBody
              })
            }

