name: CI

on:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
      - trigger-ci-workflow
    paths:
      - "quickwit/**"
      - "!quickwit/quickwit-ui/**"

permissions:
  contents: read

env:
  CARGO_INCREMENTAL: 0
  QW_DISABLE_TELEMETRY: 1
  QW_TEST_DATABASE_URL: postgres://quickwit-dev:quickwit-dev@localhost:5432/quickwit-metastore-dev
  RUST_BACKTRACE: 1
  RUSTDOCFLAGS: -Dwarnings -Arustdoc::private_intra_doc_links
  RUSTFLAGS: -Dwarnings --cfg tokio_unstable

# Ensures that we cancel running jobs for the same PR / same workflow.
concurrency:
  group: ${{ github.workflow }}-${{ github.event.pull_request.number || github.ref }}
  cancel-in-progress: true

jobs:
  tests:
    name: Unit tests
    runs-on: "ubuntu-latest"
    timeout-minutes: 60
    permissions:
      contents: read
      actions: write
    services:
      # PostgreSQL service container
      postgres:
        image: postgres:latest
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: quickwit-dev
          POSTGRES_PASSWORD: quickwit-dev
          POSTGRES_DB: quickwit-metastore-dev
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install Ubuntu packages
        run: sudo apt-get -y install protobuf-compiler
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v.6.0.0
        with:
          python-version: '3.11'
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: modified
        with:
          filters: |
            rust_src:
              - quickwit/**/*.rs
              - quickwit/**/*.toml
              - quickwit/**/*.proto
              - quickwit/rest-api-tests/**
              - .github/workflows/ci.yml
      - name: Setup stable Rust Toolchain
        if: steps.modified.outputs.rust_src == 'true'
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e # master
        with:
          toolchain: stable
      - name: Setup cache
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        if: steps.modified.outputs.rust_src == 'true'
        with:
          workspaces: "./quickwit -> target"
      - name: Install nextest
        if: always() && steps.modified.outputs.rust_src == 'true'
        uses: taiki-e/cache-cargo-install-action@7447f04c51f2ba27ca35e7f1e28fab848c5b3ba7 # v2.3.1
        with:
          tool: cargo-nextest
      - name: cargo nextest
        if: always() && steps.modified.outputs.rust_src == 'true'
        run: cargo nextest run --features=postgres --retries 1
        working-directory: ./quickwit
      - name: cargo build
        if: always() && steps.modified.outputs.rust_src == 'true'
        run: cargo build --features=postgres --bin quickwit
        working-directory: ./quickwit
      - name: Install python packages
        if: always() && steps.modified.outputs.rust_src == 'true'
        run: |
          pip install --user --require-hashes -r ${{ github.workspace }}/.github/workflows/requirements.txt
          pipenv install --deploy --ignore-pipfile
        working-directory: ./quickwit/rest-api-tests
      - name: Run REST API tests
        if: always() && steps.modified.outputs.rust_src == 'true'
        run: pipenv run python3 ./run_tests.py --binary ../target/debug/quickwit
        working-directory: ./quickwit/rest-api-tests

  lints:
    name: Lints
    runs-on: "ubuntu-latest"
    timeout-minutes: 60
    permissions:
      contents: read
      actions: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - uses: dorny/paths-filter@de90cc6fb38fc0963ad72b210f1f284cd68cea36 # v3.0.2
        id: modified
        with:
          filters: |
            rust_src:
              - quickwit/**/*.rs
              - quickwit/**/*.toml
              - quickwit/**/*.proto
              - .github/workflows/ci.yml
      - name: Install Ubuntu packages
        if: always() && steps.modified.outputs.rust_src == 'true'
        run: sudo apt-get -y install protobuf-compiler
      - name: Setup nightly Rust Toolchain (for rustfmt)
        if: steps.modified.outputs.rust_src == 'true'
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e # master
        with:
          toolchain: nightly
          components: rustfmt
      - name: Setup stable Rust Toolchain
        if: steps.modified.outputs.rust_src == 'true'
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e # master
        with:
          toolchain: stable
      - name: Setup cache
        if: steps.modified.outputs.rust_src == 'true'
        uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2.8.1
        with:
          workspaces: "./quickwit -> target"
      - name: Install cargo deny
        if: always() && steps.modified.outputs.rust_src == 'true'
        uses: taiki-e/cache-cargo-install-action@7447f04c51f2ba27ca35e7f1e28fab848c5b3ba7 # v2.3.1
        with:
          # 0.18 requires rustc 1.85
          tool: cargo-deny@0.17.0
      - name: cargo clippy
        if: always() && steps.modified.outputs.rust_src == 'true'
        run: cargo clippy --workspace --tests --all-features
        working-directory: ./quickwit
      - name: cargo deny
        if: always() && steps.modified.outputs.rust_src == 'true'
        run: cargo deny check licenses
        working-directory: ./quickwit
      - name: cargo doc
        if: always() && steps.modified.outputs.rust_src == 'true'
        run: cargo doc
        working-directory: ./quickwit
      - name: License headers check
        if: always()
        run: bash scripts/check_license_headers.sh
        working-directory: ./quickwit
      - name: rustfmt
        if: always() && steps.modified.outputs.rust_src == 'true'
        run: cargo +nightly fmt --all -- --check
        working-directory: ./quickwit

  thirdparty-license:
    name: Check Datadog third-party license file
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e # master
        with:
          toolchain: stable

      - name: Cache cargo tools
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: ~/.cargo/bin
          key: ${{ runner.os }}-cargo-tools-${{ hashFiles('**/Cargo.lock') }}

      - name: Install dd-rust-license-tool
        run: dd-rust-license-tool --help || cargo install --git https://github.com/DataDog/rust-license-tool.git --force

      - name: Check Datadog third-party license file
        run: dd-rust-license-tool --config quickwit/license-tool.toml --manifest-path quickwit/Cargo.toml check
