name: Build and publish nightly packages

on:
  workflow_dispatch:
  push:
    branches:
      - 'fix-990'
  schedule:
    - cron: "0 5 * * *"

jobs:
  # Not native package as Mac-OS build as it takes ci time

  build-x86_64-unknown-linux-gnu-package:
    name: Build x86_64-unknown-linux-gnu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: echo "ASSET_VERSION=nightly" >> $GITHUB_ENV # we could use $(date '+%Y-%m-%d)
      - run: echo "ASSET_FULL_NAME=quickwit-nightly-x86_64-unknown-linux-gnu" >> $GITHUB_ENV
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-unknown-linux-gnu
          override: true
      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --release --features release-feature-vendored-set --target x86_64-unknown-linux-gnu
      - name: Bundle archive
        run: |
          make archive BINARY_FILE=target/x86_64-unknown-linux-gnu/release/quickwit \
            BINARY_VERSION=${{ env.ASSET_VERSION }} ARCHIVE_NAME=${{ env.ASSET_FULL_NAME }} 
      - name: Save binary archive for few days
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.ASSET_FULL_NAME }}.tar.gz
          path: ./${{ env.ASSET_FULL_NAME }}.tar.gz
          retention-days: 3

  build-x86_64-unknown-linux-musl-package:
    name: Build x86_64-unknown-linux-musl
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: echo "ASSET_VERSION=nightly" >> $GITHUB_ENV
      - run: echo "ASSET_FULL_NAME=quickwit-nightly-x86_64-unknown-linux-musl" >> $GITHUB_ENV
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: x86_64-unknown-linux-musl
          override: true
      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --release --features release-feature-set --target x86_64-unknown-linux-musl
      - name: Bundle archive
        run: |
          make archive BINARY_FILE=target/x86_64-unknown-linux-musl/release/quickwit \
            BINARY_VERSION=${{ env.ASSET_VERSION }} ARCHIVE_NAME=${{ env.ASSET_FULL_NAME }}
      - name: Save binary archive for few days
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.ASSET_FULL_NAME }}.tar.gz
          path: ./${{ env.ASSET_FULL_NAME }}.tar.gz
          retention-days: 3

  build-aarch64-unknown-linux-gnu-package:
    name: Build aarch64-unknown-linux-gnu
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: echo "ASSET_VERSION=nightly" >> $GITHUB_ENV
      - run: echo "ASSET_FULL_NAME=quickwit-nightly-aarch64-unknown-linux-gnu" >> $GITHUB_ENV
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: aarch64-unknown-linux-gnu
          override: true
      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --release --features release-feature-vendored-set --target aarch64-unknown-linux-gnu
      - name: Bundle archive
        run: |
          make archive BINARY_FILE=target/aarch64-unknown-linux-gnu/release/quickwit \
            BINARY_VERSION=${{ env.ASSET_VERSION }} ARCHIVE_NAME=${{ env.ASSET_FULL_NAME }}
      - name: Save binary archive for few days
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.ASSET_FULL_NAME }}.tar.gz
          path: ./${{ env.ASSET_FULL_NAME }}.tar.gz
          retention-days: 3

  build-aarch64-unknown-linux-musl-package: 
    name: Build aarch64-unknown-linux-musl
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - run: echo "ASSET_VERSION=nightly" >> $GITHUB_ENV
      - run: echo "ASSET_FULL_NAME=quickwit-nightly-aarch64-unknown-linux-musl" >> $GITHUB_ENV
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
          target: aarch64-unknown-linux-musl
          override: true
      - uses: actions-rs/cargo@v1
        with:
          use-cross: true
          command: build
          args: --release --features release-feature-set --target aarch64-unknown-linux-musl
      - name: Bundle archive
        run: |
          make archive BINARY_FILE=target/aarch64-unknown-linux-musl/release/quickwit \
            BINARY_VERSION=${{ env.ASSET_VERSION }} ARCHIVE_NAME=${{ env.ASSET_FULL_NAME }}
      - name: Save binary archive for few days
        uses: actions/upload-artifact@v2
        with:
          name: ${{ env.ASSET_FULL_NAME }}.tar.gz
          path: ./${{ env.ASSET_FULL_NAME }}.tar.gz
          retention-days: 3

  build-and-push-docker-image:
    name: Build & push docker images
    runs-on: ubuntu-latest
    needs:
      - build-x86_64-unknown-linux-gnu-package
      - build-x86_64-unknown-linux-musl-package
      - build-aarch64-unknown-linux-gnu-package
      - build-aarch64-unknown-linux-musl-package
    steps:
      - name: Check out the repo
        uses: actions/checkout@v2
      - run: echo "ASSET_VERSION=nightly" >> $GITHUB_ENV
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v1
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to DockerHub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v3
        with:
          images: quickwit/quickwit-nightly
          labels: |
            org.opencontainers.image.title=Quickwit
            maintainer=Quickwit, Inc. <hello@quickwit.io>
            org.opencontainers.image.vendor=Quickwit, Inc.
            org.opencontainers.image.licenses=AGPL-3.0
      - name: Download linux/amd64 binary package
        uses: actions/download-artifact@v2
        with:
          name: quickwit-${{ env.ASSET_VERSION }}-x86_64-unknown-linux-musl.tar.gz
          path: ./docker
      - name: Download linux/arm64 binary package
        uses: actions/download-artifact@v2
        with:
          name: quickwit-${{ env.ASSET_VERSION }}-aarch64-unknown-linux-musl.tar.gz
          path: ./docker
      - name: Build and push
        uses: docker/build-push-action@v2
        with:
          context: ./docker/
          platforms: linux/amd64,linux/arm64
          push: true
          tags: ${{ steps.meta.outputs.tags }}
          labels: ${{ steps.meta.outputs.labels }}
