name: Publish custom cross images

on:
  workflow_dispatch:
  push:
    branches:
      - main
    paths:
      - "build/cross-images/**"

permissions:
  contents: read

jobs:
  build-cross-images:
    name: Publish cross images
    runs-on: ubuntu-latest
    environment:
        name: production
    steps:
      - name: Check out the repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Log in to Docker Hub
        uses: docker/login-action@c94ce9fb468520275223c153574b00df6fe4bcc9 # v3.7.0
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_ACCESS_TOKEN }}
      - name: Build and push cross images
        run: make cross-images
