name: Build and publish release packages

on:
  push:
    tags:
      - "v*"

permissions:
  contents: read

jobs:
  build-macos-binaries:
    name: Build ${{ matrix.target }}
    runs-on: macos-latest
    permissions:
      contents: write
      actions: write
    strategy:
      matrix:
        target: [x86_64-apple-darwin, aarch64-apple-darwin]

    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Extract asset version
        run: echo "ASSET_VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
      - uses: ./.github/actions/cargo-build-macos-binary
        with:
          target: ${{ matrix.target }}
          version: ${{ env.ASSET_VERSION }}
          token: ${{ secrets.GITHUB_TOKEN }}

  build-linux-binaries:
    strategy:
      matrix:
        target: [x86_64-unknown-linux-gnu, aarch64-unknown-linux-gnu]
    name: Build ${{ matrix.target }}
    runs-on: ubuntu-latest
    permissions:
      contents: write
      actions: write
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Extract asset version
        run: echo "ASSET_VERSION=${GITHUB_REF/refs\/tags\//}" >> $GITHUB_ENV
      - uses: ./.github/actions/cross-build-binary
        with:
          target: ${{ matrix.target }}
          version: ${{ env.ASSET_VERSION }}
          token: ${{ secrets.GITHUB_TOKEN }}
