name: UI CI

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "quickwit/quickwit-ui/**"
      - ".github/workflows/ui-ci.yml"
  push:
    branches:
      - main
      - trigger-ci-workflow
    paths:
      - "quickwit/quickwit-ui/**"
      - ".github/workflows/ui-ci.yml"

permissions:
  contents: read

jobs:
  tests:
    name: ${{ matrix.task.name }}
    runs-on: ubuntu-latest
    permissions:
      contents: read
      actions: write
    strategy:
      fail-fast: false
      matrix:
        task:
          - name: Cypress run
            command: |
              sudo apt-get -y install protobuf-compiler
              CI=false yarn --cwd quickwit-ui build
              RUSTFLAGS="--cfg tokio_unstable" cargo build --features=postgres
              mkdir qwdata
              RUSTFLAGS="--cfg tokio_unstable" cargo run --features=postgres -- run --service searcher --service metastore --config ../config/quickwit.yaml &
              yarn --cwd quickwit-ui cypress run
          - name: Lint
            command: yarn --cwd quickwit-ui lint
          - name: Check type consistency
            command: yarn --cwd quickwit-ui type
          - name: Unit Test
            command: yarn --cwd quickwit-ui test
    services:
      # PostgreSQL service container
      postgres:
        image: postgres:latest
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: quickwit-dev
          POSTGRES_PASSWORD: quickwit-dev
          POSTGRES_DB: quickwit-metastore-dev
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      CARGO_INCREMENTAL: 0
      RUST_BACKTRACE: 1
      RUSTFLAGS: -Dwarnings -C lto=off
      RUSTDOCFLAGS: -Dwarnings -Arustdoc::private_intra_doc_links
      QW_TEST_DATABASE_URL: postgres://quickwit-dev:quickwit-dev@postgres:5432/quickwit-metastore-dev
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 20
          cache: "yarn"
          cache-dependency-path: quickwit/quickwit-ui/yarn.lock
      - name: Setup stable Rust Toolchain
        uses: dtolnay/rust-toolchain@0b1efabc08b657293548b77fb76cc02d26091c7e # master
        with:
          toolchain: stable
      - name: Install JS dependencies
        run: yarn --cwd quickwit-ui install
        working-directory: ./quickwit
      - name: Setup Rust cache
        if: matrix.task.name == 'Cypress run'
        uses: Swatinem/rust-cache@779680da715d629ac1d338a641029a2f4372abb5 # v2.8.2
        with:
          workspaces: "./quickwit -> target"
      - name: ${{ matrix.task.name }}
        run: ${{ matrix.task.command }}
        working-directory: ./quickwit
