name: UI CI

on:
  workflow_dispatch:
  pull_request:
    paths:
      - "quickwit/quickwit-ui/**"
      - ".github/workflows/ui-ci.yml"
  push:
    branches:
      - main
      - trigger-ci-workflow
    paths:
      - "quickwit/quickwit-ui/**"
      - ".github/workflows/ui-ci.yml"

jobs:
  tests:
    name: ${{ matrix.task.name }}
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        task:
          - name: Cypress run
            command: |
              sudo apt-get -y install protobuf-compiler
              rustup show
              CI=false yarn --cwd quickwit-ui build
              cargo build --features=postgres
              mkdir qwdata
              cargo run --features=postgres -- run --service searcher --service metastore --config ../config/quickwit.yaml &
              yarn --cwd quickwit-ui cypress run
          - name: Lint
            command: yarn --cwd quickwit-ui lint
          - name: Unit Test
            command: yarn --cwd quickwit-ui test
    services:
      # PostgreSQL service container
      postgres:
        image: postgres:latest
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: quickwit-dev
          POSTGRES_PASSWORD: quickwit-dev
          POSTGRES_DB: quickwit-metastore-dev
        # Set health checks to wait until postgres has started
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      CARGO_INCREMENTAL: 0
      RUST_BACKTRACE: 1
      RUSTFLAGS: -Dwarnings -C lto=off
      RUSTDOCFLAGS: -Dwarnings -Arustdoc::private_intra_doc_links
      QW_TEST_DATABASE_URL: postgres://quickwit-dev:quickwit-dev@postgres:5432/quickwit-metastore-dev
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: "yarn"
          cache-dependency-path: quickwit/quickwit-ui/yarn.lock
      - name: Install rustup
        run: curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain none -y
      - name: Install JS dependencies
        run: yarn --cwd quickwit-ui install
        working-directory: ./quickwit
      - name: Setup Rust cache
        if: matrix.task.name == 'Cypress run'
        uses: Swatinem/rust-cache@v2
        with:
          workspaces: "./quickwit -> target"
      - name: ${{ matrix.task.name }}
        run: ${{ matrix.task.command }}
        working-directory: ./quickwit
